{
  "extends": [
      "airbnb",
      "plugin:react/recommended",
      "plugin:flowtype/recommended",
      "plugin:prettier/recommended",
      "prettier/flowtype",
      "prettier/react",
      "prettier/standard"
  ],
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es6": true
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-uses-vars": 1
  },
  "settings": {
    "react": {
       "version":"16.6"
    }
  },
  "plugins": [
    "flowtype",
    "flowtype-errors",
    "react",
    "import",
    "prettier"
  ]
}
